<div class="container-barnav">
  <div class="barnav">

    <%= link_to root_path, class: "barnavlink" do%>
    <h5>Icarus</h5><span></span>
    <% end %>

    <%= link_to equipage_path, class: "barnavlink" do%>
    <h5>L'Equipage</h5><span></span>
    <% end %>

    <%= link_to reservations_path, class: "barnavlink" do%>
    <h5>Calendrier</h5><span></span>
    <% end %>

    <%= link_to root_path, class: "barnavlink" do%>
    <h5>Le Port</h5><span></span>
    <% end %>

  <% if user_signed_in? %>
    <%= link_to destroy_user_session_path, method: :delete, class: "barnavlink" do %>
    <h5>Log-out</h5><span></span>
  <% end %>

  <% else %>
    <%= link_to new_user_session_path, class: "barnavlink" do %>
    <h5>Login</h5><span></span>
    <% end %>
  <% end %>

  </div>
  <div class="gouvernail-container">
    <div class="gouvernail-rond"></div>
    <a class="gouvernail-bars">
      <span class="bar bar--1"></span>
      <span class="bar bar--2"></span>
      <span class="bar bar--3"></span>
      <span class="bar bar--4"></span>
    </a>
  </div>
</div>

